body {
    font-family: 'Arial', sans-serif;
    background-color: #111;
    color: #eee;
}

h1, h2 {
    font-weight: bold;
}

nav a {
    color: #0af !important;
}

a {
    color: #0af;
    text-decoration: none;
}

footer {
    font-size: 14px;
}
